<a href="https://colab.research.google.com/github/jz042/Coursera-Python-1/blob/master/Learn_Python_Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables, Statements, Expressions, and Conditions
### Overview
1. Jupyter Notebook walkthough: concepts and code snippets

2. Fill in the blank code snippets
3. This month's project challenge

A note about Jupyter notebooks: the code cells must be run in order, and the output should appear below.  Any code cell that contains text preceded by a # is a comment, and will not run.  It is intended to provide context.  You may find it useful to insert comments to yourself as you go, so you don't lose track of what you're working on.

# New Section

## Variables
Variables allow us to assign a value to a name so that we can use those values in complex ways.  

The '=' is used for assignment.

Best practice in Python gives us rules for naming variables. Names:
- should be descriptive about the value
- should not use leading numbers
- should not use spaces, but '_'
- should not use uppercase letters
- should not use python [keywords](https://www.pythonforbeginners.com/basics/keywords-in-python)

#### The print() function
Since it is so useful for showing us what's happening when we run jupyter code blocks, we use the inbuilt print function throughout this code.  It will come in handy when we work on our examples, too!

In [0]:
greeting_string = 'Hello, coders!'
print(greeting_string)

Hello, coders!

#### Data Types
The data type refers to the kind of value it refers to.  The basic data types we will use today include:
- integers
- floating-point numbers
- booleans
- strings

In [0]:
my_int = 42
my_float = 3.14
my_bool = True
my_string = 'What is the meaning of life?'
print(my_string)
print(my_int)
print(my_float)
print(my_bool)

What is the meaning of life?
42
3.14
True

In [0]:
# create at least one variable of each type listed above, using descriptive names
catherine_integer = 30
kim_float = 12.15
group_bool = False
my_string = "I'm here"
print(catherine_integer)
print(kim_float)
print(group_bool)
print(my_string)

30
12.15
False
I'm here

#### Dynamic Typing

If you code in other languages, you may notice that python is dynamically typed, and will let you manipulate a variable depending on the type of value.  This can be quite useful, but can also cause bugs if you don't pay attention.

In [0]:
my_favorite = 101
print(my_favorite)

101

In [0]:
my_favorite = 'Chocolate'
print(my_favorite)

Chocolate

## Statements and Expressions
In order to effectively use variables, we need to do more than assign a value, which is called an assignment statement.  We can write expressions that involve variables and operators in order to manipulate values effectively.


Some Operators:
+, -, *, /, //, %

Expressions using these operators will follow mathematical order of operations - PEMDAS

In [0]:
int_number = 10
print(int_number + 5)

15

In [0]:
float_number = 2.5
print(int_number - float_number)

7.5

In [0]:
print(int_number * float_number)

25.0

In [0]:
print(5 / 2)

2.5

In [0]:
print(int_number // 3)

3

In [0]:
print(int_number % 3)

1

In [0]:
# Create an expression that evaluates to 100 using four of the operators above
print(10*10)

100

In [0]:
print(99+1)

100

#### Strings
Because they are highly utilized and are unique, strings merit their own series of exercises.  For instance, rather than performing addition, the + operator will concatenate strings, as shown below.

In [0]:
string_one = 'con'
string_two = 'cat'
string_three = 'en'
string_four = 'ate'
whole_string = string_one + string_two + string_three + string_four
print(whole_string)

concatenate

In [0]:
# Create a string with the value of your name, and print it

In [0]:
# experiment with some other operators.  Can *, /, or - be used with a string?
my_letter = 'm'
print(my_letter*10)

mmmmmmmmmm

Strings can consist of a single word, or a phrase with spaces, as long as the string is declared inside of either single or double quote marks.  The elements inside a string are immuteable, but you can add to it.  

Strings are considered a sequence in Python, which means that we can use an index number to refer to each element of the string.  This is really useful for string manipulation, and will come in handy when working on exercises.  We use the format string[index] to refer to a specific index, starting from 0.

In [0]:
print(whole_string[0])

c

The len() function will help us to determine the length of a string for indexing.

In [0]:
len(whole_string)

11

Keep in mind that the first letter of the string is in position 0, and if you put in a number that is longer than the length of the string - 1, you will get an index out of bounds error.   Can you fix the code below?

In [0]:
print(whole_string[10])

e

We can **slice** a string to only print certain elements using a : inside the index brackets.  Be aware that the first index is included in the slice, but the last index is not.

In [0]:
my_name = "Julia"
print(my_name[1:3])

ul

We can print all of the elements after a given index:

In [0]:
print(my_name[1:])

ulia

We can print all of the elements up to a certain index:

In [0]:
print(my_name[:1])

J

We can start at the last index and work backwards using negative numbers:

In [0]:
print(my_name[:-1])

Juli

We can also use this notation to print every x number of elements, with a default of 1:

In [0]:
print(my_name[::2])

Jla

In [0]:
# Create a string with the name of your favorite state and print every second element.
my_state = 'Maryland'
print(my_state[1::3])

ald

In [0]:
# Challenge: can you use slicing to reverse the string?
print(my_state[::-1])

dnalyraM

## Conditions

There is one data type we haven't talked much about - **booleans**.  A boolean can only contain `True` or `False`. Boolean expressions are very important for managing expressions and statements, and are written with **comparison operators**:

x == y # x is equal to y

x != y # x is not equal to y

x > y  # x is greater than y

x < y  # x is less than y

x >= y  # x is greater than or equal to y

x <= y  # x is less than or equal to y

x `is` y # x is the same is y

x `is not` y # x is not the same as y

In [0]:
current_day = 20
tomorrow = 21

current_day > tomorrow

False

In [0]:
# Write a boolean expression that evaluates to true
tomorrow > current_day

True

#### Logical Operators

`and`, `or`, and `not` are the three logical operators in Python.  They are useful in combining and filtering conditions.

#### Conditional Execution

To write Python scripts with the most utility, we need to use **conditional statements** to check the status of a condition, and execute particular expressions or statements accordingly.  

#### If statements:
If a condition is satisfied, execute the expression indented underneath.

In [0]:
if current_day > 15:
  print('The month is almost over.')

The month is almost over.

Indentation is crucial to execution.  If there is something wrong, you will get an indentation error.

Can you fix the code in the box below?

In [0]:
if current_day != 1:
  print('It is not the first of the month.')

It is not the first of the month.

There is also the option to include `elif` (creating a 'chain' of conditions) which means else if,  and `else` execution alongside your `if` statement.

What will be the output of the code below?

In [0]:
if current_day < 7:
  print('It is the beginning of the month')
elif current_day < 20:
  print('It is the middle of the month')
else:
  print('It is the end of the month')

It is the end of the month

We can also nest conditions, which will be important later for our examples.

#### For Statements

Python's for statement is different than other programming laguages.  It allows us to iterate over the elemets of a string, or any sequence, in the order of that string.

In [0]:
for letter in my_name:
  print(letter)

J
u
l
i
a

The range() function is useful for iterating over a sequence of numbers.

In [0]:
for number in range(5, 11):
  print(number)

5
6
7
8
9
10

To iterate over the indicies of a sequence, range() and len() can be combined.

In [0]:
weird_string = 'lanolin'
for i in range(len(weird_string)):
  print(i, weird_string[i])

0 l
1 a
2 n
3 o
4 l
5 i
6 n

#### While statements
While a condition is met, the code block will execute.  What could go wrong with the code below? Fix it before you attempt to execute.

In [0]:
# while current_day != 31:
    print('It is not the last day of the month.')

It is not the last day of the month.

## Fill in the Blank

Look at the examples below.  Can you complete and run the block successfully?

In [0]:
# Print your name, one letter at a time and on seperate lines, with each line numbered
my_name = 'Grace Hopper'
for i in range(len(my_name)):
   print(i, my_name[i])

0 G
1 r
2 a
3 c
4 e
5
6 H
7 o
8 p
9 p
10 e
11 r

In [0]:
# Calculate total_pay, including time and a half pay for overtime
hours_worked = 47
pay_rate = 12.0

if hours_worked > 40:
  overtime_hour= hours_worked-40
  #hours_worked-40=overtime_hour ; function always goes on right side of =
  y = overtime_hour * ((pay_rate/2) +pay_rate)
  #overtime pay time and halfpay =y
  x= 40 * pay_rate
  #regpay+ overtimepay = total pay
  pay_andovertime= x + y  

print (pay_andovertime) #total_pay

# insert your code here. Calculate the number of hours of overtime, then the overtime pay due,
# then the regular pay due
print(overtime_hour) #hours of overtime
print(y) #overtime pay due
print(x) #regular pay due

606.0
7
126.0
480.0

In [0]:
# Given an integer, write a control flow for the following conditions:
# If the number is even:
x = % 
  # if the number is between 1 and 30:
    # print 'This number is in category A.'
  # else, if the number is greater than 60: 
    # print 'This number is in category B.'
# if the number is odd, print 'This number is in Category C.'

In [0]:
# Given a number, if it is even, print a message stating that it is even.  
# If it is odd, print that it is odd.

## Project from *[Automate the Boring Stuff](https://automatetheboringstuff.com/#toc)*

### Adding Bullets to Wiki Markup
When editing a Wikipedia article, you can create a bulleted list by putting each list item on its own line and placing a star in front. But say you have a really large list that you want to add bullet points to. You could just type those stars at the beginning of each line, one by one. Or you could automate this task with a short Python script.

The bulletPointAdder.py script will get the text from the clipboard, add a star and space to the beginning of each line, and then paste this new text to the clipboard. For example, if I copied the following text (for the Wikipedia article “List of Lists of Lists”) to the clipboard:


Lists of animals
Lists of aquarium life
Lists of biologists by author abbreviationWiki
Lists of cultivars
and then ran the bulletPointAdder.py program, the clipboard would then contain the following:


* Lists of animals
* Lists of aquarium life
* Lists of biologists by author abbreviation
* Lists of cultivars


#### Lists
For this project, it will be helpful to know that there is a List data type in Python, assigned as my_list = [ ], that can contain any of the other data types we have discussed, including nested lists.
so, the list of lists above would look like:

In [0]:
wiki_list = ['Lists of animals', 'Lists of aquarium life', 'Lists of biologists by author abbreviation', 'Lists of cultivars']

Lists are sequences, just like strings, and you can use many of the same techniques to iterate over them.  If you wanted to display the second element of the list, you could do so:

In [0]:
wiki_list[1]

'Lists of aquarium life'

## Next Month: Functions, Complex Data Types, and Files

### Resources:
https://docs.python.org/3/tutorial/index.html

https://docs.python.org/3/index.html